
html,
body {
  background-color: #161747;
  
}

#App {
  font-family: sans-serif;
  height: 100vh;
  background-color: black;
  
}

#page-wrap {
  text-align: center;
  overflow: auto;
  background: url(./images/Mountain_Background.jpg) no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}