.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #a7bcbe;
  transition: color 0.2s;
  font-weight: 1000
}

.bm-item:hover {
  color: #a7bcbe;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #01017c;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #a7bcbe;
}

.bm-menu {
  background: #01017c;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #01017c;
}

.bm-item-list {
  color: #a7bcbe;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}