.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    pointer-events: none;
  }
  
  .fadeIn {
    opacity: 1;
  }
  
  .star {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.562);
    border-radius: 50%;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff;
  }
  