/* Variables */
:root {
  --primary-bg-color: #0b0c22;
  --primary-text-color: #D3D3D3;
  --transition-duration: 0.5s;
  --transition-timing: ease-in-out;
  --header-height: 50px;
}

/* Global Styles */
html, body {
  margin: 0 20px;
  padding: 0;
  overflow-x: hidden;
}

html {
  overflow-y: scroll;
}

.app {
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: var(--header-height);
}

.placeholder {
  height: var(--header-height);
}

.mainContent {
  padding-top: 60px;
}

/* Toggle Button */
.toggleButton {
  color: var(--primary-text-color);
  border-width: 0;
  background-color: var(--primary-bg-color);
  cursor: pointer;
  font-size: 1.5em;
  color: #FFFFFF;
}

.marginBottom {
  margin-bottom: 2rem;
}

/* Animations */
.slide-in {
  transform: translateX(-100%);
  transition: transform var(--transition-duration) var(--transition-timing);
  animation: slide-in var(--transition-duration) var(--transition-timing) forwards;
}

@keyframes slide-in {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

/* Text Styles */
.text__name {
  font-family: Arial;
  font-size: 400%;
  text-align: center;
  height: 75px;
}

.text__cycler__content {
  text-align: center;
  animation: fadeinout 3s var(--transition-timing);
}

.text__cycler__content--visible {
  opacity: 1;
}

.text__cycler__content--hidden {
  opacity: 0;
}

@keyframes fadeinout {
  0%, 100% { opacity: 0; }
  15%, 85% { opacity: 1; }
}

/* List Group */
.list-group__container {
  display: flex;
  justify-content: space-between;
}

.list-group__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-group__item {
  margin: 10px 0;
}

.list-group__image {
  position: relative;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
  transition: visibility var(--transition-duration) var(--transition-timing), left var(--transition-duration) var(--transition-timing);
}

.list-group__item:hover + .list-group__image,
.list-group__image--visible {
  visibility: visible;
}

/* Other Styles */
.title {
  padding-top: 20px;
  font-weight: bold;
  font-size: 300%;
}

.summary {
  font-style: italic;
  font-size: 180%;
}

.body {
  line-height: 1.8;
  font-size: 120%;
  word-wrap: break-word;
  max-width: 80%;
}

.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.rotate {
  transform: rotate(-90deg);
}
